<!DOCTYPE html>
<html>
  <head>
    <title>SquareFut | Raised Bed Square Foot Gardening Planner</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=300, initial-scale=1">
  </head>
  <body>
      <div class="ground" id="grid">
        <div class="box">
            <div class="boxcenterer">
                <div class="grid">
                    <div class="row" v-for="row in grid">
                        <grid-cell
                            v-for="plant in grid[row.id].row"
                            v-bind:cell="plant"
                            v-bind:rowid="row.id"
                            v-bind:key="plant.id"
                            v-on:select-plant="viewplants"
                        >
                        </grid-cell>
                    </div>
                </div>
            </div>
        </div>
        <div class="plantMenuContainer" v-if="plantSelection.active">
          <div class="plantMenu">
            <div class='searchbar'>
              <div class='searchinput'>
                <!-- <input type="text" id="plant" name="plant" placeholder="Search Plant"> -->
              </div>
              <a class="searchcancel" v-on:click="cancelPlantSelection">Cancel</a>
            </div>
            <div class="plantSearchResult">
                <a v-for="plant in plants" v-on:click="selectplant(plant)">
                  <div>
                    <p class="plantName">{{plant.name}}</p>
                    <p class="plantInfo">{{plant.count}} per square</p>
                  </div>
                  <div class="plantMenuIcon" v-bind:class="plant.class"></div>
                </a>
            </div>
          </div>
        </div>
      </div>

      <script>
        Vue.component("grid-cell", {
          props: ["cell","rowid"],
          template: `
            <div class='cell' v-on:click="$emit('select-plant', {row: rowid, column: cell.column})">
              <plant v-bind:plant="cell.plant">
              </plant>
            </div>`
        });

        Vue.component("plant", {
          props: ["plant"],
          template: `
            <div class="plantContainer" v-if="plant">
              <div v-for="n in plant.count" class="plant-square" v-bind:class="plant.class">
                <div class="content">
                </div>
              </div>
            </div>
            `
        });

        var plant = {
          arugula: {
            name: "Arugula",
            class: "arugula",
            count: 16
          },
          asparagus: {
            name: "Asparagus",
            class: "asparagus",
            count: 1
          },
          basil: {
            name: "Basil",
            class: "basil",
            count: 2
          },
          beans: {
            name: "Beans",
            class: "beans",
            count: 9
          },
          beets: {
            name: "Beets",
            class: "beets",
            count: 9
          },
          bokchoy: {
            name: "Bok Choy",
            class: "bokChoy",
            count: 4
          },
          broccoli: {
            name: "Broccoli",
            class: "broccoli",
            count: 1
          },
          cilantro: {
            name: "Cilantro",
            class: "cilantro",
            count: 9
          },
          eggplant: {
            name: "Eggplant",
            class: "eggplant",
            count: 1
          },
          garlic: {
            name: "Garlic",
            class: "garlic",
            count: 4
          }
        };
  
        var app = new Vue({
          el: "#grid",
          data: {
            plantSelection: {
              active: false,
              cellCoordinate: {
                row: null,
                column: null
              }
            },
            plants: plant, 
            grid: [
              {
                id: 0,
                row: [
                  { id: "0,0", column: 0, plant },
                  { id: "0,1", column: 1, plant },
                  { id: "0,2", column: 2, plant },
                  { id: "0,3", column: 3, plant },
                  { id: "0,4", column: 4, plant },
                  { id: "0,5", column: 5, plant }
                ]
              },
              {
                id: 1,
                row: [
                  { id: "1,0", column: 0, plant },
                  { id: "1,1", column: 1, plant },
                  { id: "1,2", column: 2, plant },
                  { id: "1,3", column: 3, plant },
                  { id: "1,4", column: 4, plant },
                  { id: "1,5", column: 5, plant }
                ]
              },
              {
                id: 2,
                row: [
                  { id: "2,0", column: 0, plant },
                  { id: "2,1", column: 1, plant },
                  { id: "2,2", column: 2, plant },
                  { id: "2,3", column: 3, plant },
                  { id: "2,4", column: 4, plant },
                  { id: "2,5", column: 5, plant}
                ]
              },
              {
                id: 3,
                row: [
                  { id: "3,0", column: 0, plant },
                  { id: "3,1", column: 1, plant },
                  { id: "3,2", column: 2, plant },
                  { id: "3,3", column: 3, plant },
                  { id: "3,4", column: 4, plant },
                  { id: "3,5", column: 5, plant }
                ]
              }
            ]
          },
          methods: {
            viewplants: function (cellCoordinate) {
              this.plantSelection.active = true;
              this.plantSelection.cellCoordinate = cellCoordinate;
            },
            cancelPlantSelection: function (event) {
              this.plantSelection = {
                active: false,
                cellCoordinate: {
                  row: null,
                  column: null
                }
              }
            },
            selectplant: function(plant){
              // TODO: do i need to assign new instance of plant?
              this.grid[this.plantSelection.cellCoordinate.row].row[this.plantSelection.cellCoordinate.column].plant = plant;
              // Should I emit this instead?
              this.cancelPlantSelection()
            }
          }
        });
      </script>
  </body>
</html>
