<!DOCTYPE html>
<html>
  <head>
    <title>SquareFut | Raised Bed Square Foot Gardening Planner</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
      <div class="ground" id="grid">
        <div class="box">
            <div class="boxcenterer">
                <div class="grid">
                    <div class="row" v-for="row in grid">
                        <grid-cell
                            v-for="plant in grid[row.id].row"
                            v-bind:cell="plant"
                            v-bind:key="plant.id"
                            v-on:select-plant="viewplants"
                        >
                        </grid-cell>
                    </div>
                </div>
            </div>
        </div>
        <div class="plantMenuContainer" v-if="plantSelection.active">
          <div class="plantMenu">
            <div class='searchbar'>
              <div class='searchinput'>
                <input type="text" id="plant" name="plant" placeholder="search for a plant to add">
              </div>
              <button class="searchcancel" v-on:click="cancelPlantSelection">cancel</button>
            </div>
            <div class="plantSearchResult">
                <a v-for="plant in plants">{{plant.name}}</a>
            </div>
          </div>
        </div>
      </div>

      <script>
        Vue.component("grid-cell", {
          props: ["cell", "width"],
          template: `
            <div class='cell' v-on:click="$emit('select-plant', cell.id)">
              <plant v-bind:plant="cell.plant" v-bind:count="cell.plant.count">
              </plant>
            </div>`
        });

        Vue.component("plant", {
          props: ["plant", "count"],
          template: `
            <div class="plantContainer">
              <div v-for="n in plant.count" class="plant-square">
                <div class="content">
                </div>
              </div>
            </div>
            `
        });

        var plant = {
          arugula: {
            name: "Arugula",
            count: 16
          },
          cilantro: {
            name: "Cilantro",
            count: 9
          },
          garlic: {
            name: "Garlic",
            count: 4
          },
          basil: {
            name: "Basil",
            count: 2
          },
          eggplant: {
            name: "Eggplant",
            count: 1
          }
        };
  
        var app = new Vue({
          el: "#grid",
          data: {
            plantSelection: {
              active: false
            },
            plants: plant, 
            grid: [
              {
                id: 0,
                row: [
                  { id: "0,0", plant: plant.garlic },
                  { id: "0,1", plant: plant.cilantro },
                  { id: "0,2", plant: plant.basil },
                  { id: "0,3", plant: plant.garlic },
                  { id: "0,4", plant: plant.arugula },
                  { id: "0,5", plant: plant.garlic }
                ]
              },
              {
                id: 1,
                row: [
                  { id: "1,0", plant: plant.basil },
                  { id: "1,1", plant: plant.cilantro },
                  { id: "1,2", plant: plant.arugula },
                  { id: "1,3", plant: plant.garlic },
                  { id: "1,4", plant: plant.eggplant },
                  { id: "1,5", plant: plant.garlic }
                ]
              },
              {
                id: 2,
                row: [
                  { id: "2,0", plant: plant.garlic },
                  { id: "2,1", plant: plant.cilantro },
                  { id: "2,2", plant: plant.eggplant },
                  { id: "2,3", plant: plant.garlic },
                  { id: "2,4", plant: plant.basil },
                  { id: "2,5", plant: plant.arugula }
                ]
              },
              {
                id: 3,
                row: [
                  { id: "3,0", plant: plant.garlic },
                  { id: "3,1", plant: plant.cilantro },
                  { id: "3,2", plant: plant.arugula },
                  { id: "3,3", plant: plant.basil },
                  { id: "3,4", plant: plant.cilantro },
                  { id: "3,5", plant: plant.garlic }
                ]
              }
            ]
          },
          methods: {
            viewplants: function (event) {
              this.plantSelection.active = true;
              this.plantSelection.cell = event;
            },
            cancelPlantSelection: function (event) {
              this.plantSelection = {
                active: false
              }
            }
          }
        });
      </script>
  </body>
</html>
