
.cell{
    border-style: solid;
    border-width: thin;
    display: inline-block;
}

div#grid {
    border-style: solid;
    display: inline-block;
}

@media screen and (orientation: portrait) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

@media screen and (orientation: landscape) {
    html {
      transform: none;
      transform-origin: none;
      width: 100%;
      overflow-x: none;
      position: relative;
    }
    .bw-dashboard {
      height: 100vh;
    }
  }

