body {
    background-color: darkslategray;
}

.ground {
    display: grid;
    grid-template-columns: 1fr [box-left] auto [box-right] 1fr;
    grid-template-rows: 1fr [box-top] auto [box-bottom] 1fr;
    height: 95vh;
}

.box {
    grid-column: box-left / box-right;
    grid-row: box-top / box-bottom;
    border-style: solid;
    border-color: burlywood;
}

.boxcenterer { 
    display: grid;
    grid-template-columns: 1fr [cell-left] auto [cell-right] 1fr;
    grid-template-rows: 1fr [cell-top] auto [cell-bottom] 1fr;
}

.grid {
    grid-column: cell-left / cell-right;
    grid-row: cell-top / cell-bottom;
}

.row {
    display: flex;
    background-color: lightgray;
}

.cell {
    background-color: grey;
    display: block;
    margin: 1px;
}

@media (orientation: landscape) {
    .cell {
        width: 21vmin;
        height: 21vmin;
    }
    .plant-square:nth-last-child(2):first-child ~ .plant-square {
        transform: translateY(10vmin);
    }
}

@media (orientation: portrait) {
    .cell {
        width: 15vmin;
        height: 15vmin;
    }
    .plant-square:nth-last-child(2):first-child ~ .plant-square {
        transform: translateY(7vmin);
    }
}

.plantContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.plant-square {
    position: relative;
    margin: .35vmin;
    border: .1vmin solid;
    box-sizing: border-box;
}

.plant-square:nth-last-child(1):first-child,
.plant-square:nth-last-child(1):first-child ~ .plant-square {
    flex-basis: calc(50% - .8vmin);
    margin-top: 25%;
}

.plant-square:nth-last-child(2):first-child,
.plant-square:nth-last-child(2):first-child ~ .plant-square {
    flex-basis: calc(50% - 1vmin);
}

.plant-square:nth-last-child(4):first-child,
.plant-square:nth-last-child(4):first-child ~ .plant-square {
    flex-basis: calc(50% - .8vmin);
}

.plant-square:nth-last-child(9):first-child,
.plant-square:nth-last-child(9):first-child ~ .plant-square {
    flex-basis: calc(33.33% - .8vmin);
}

.plant-square:nth-last-child(16):first-child,
.plant-square:nth-last-child(16):first-child ~ .plant-square {
    flex-basis: calc(25% - .8vmin);
}
  
.plant-square::before {
    content: '';
    display: block;
    padding-top: 100%;
}
  
.plant-square .content {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}
