.ground {
    display: grid;
    background-color: darkslategray;
    grid-template-columns: 1fr [box-left] auto [box-right] 1fr;
    grid-template-rows: 1fr [box-top] auto [box-bottom] 1fr;
    height: 95vh;
}

.box {
    grid-column: box-left / box-right;
    grid-row: box-top / box-bottom;
    border-style: solid;
    border-color: burlywood;
}

.boxcenterer { 
    display: grid;
    grid-template-columns: 1fr [cell-left] auto [cell-right] 1fr;
    grid-template-rows: 1fr [cell-top] auto [cell-bottom] 1fr;
}

.rowccenterer {
    grid-column: cell-left / cell-right;
    grid-row: cell-top / cell-bottom;
}

.row {
    display: flex;
    background-color: lightgray;
}

.cell {
    background-color: grey;
    display: inline-block;
    position: relative;
    margin: 1px;
    width: 20vmin;
    height: 20vmin;
}


